.desplegableOculto{
    display: none;

}
#desplegable{

    text-align: center;
    display: block;
 
 }

@media (min-width: 600px) {
    
    #menuOculto{

        display: none;
    }
    #desplegable{
        display: block;
    }
}

#enlaces{

    margin-bottom: 10rem;
}
#cabecera{

    background-color: rgb(252, 252, 252);
    height: 12rem;
    text-align: center;
}
header img{

    margin-top: 3rem;
}
#login{
    margin-top: 15rem;
    display: inline-block;
    margin-left: 5rem;
    
}
#usuario{
    margin-top: 2rem;
    margin-left: 2rem;
    display: inline-block;

}
#contraseña{

    display: inline-block;
}
footer{

    width: auto;
    height: 10rem;

}
#contacto{
    margin-left: 5rem;
    display: inline-block;
    height: 5rem;
    margin-top: 1rem;
}
#descripcion{

    display: inline-block;
    height: 5rem;
    margin-left: 10rem;
    margin-top: 2rem;
}
footer{
    width: auto;
    height: 10rem;
    text-align: center;
     margin-top: 20rem;
     background-color: rgb(0, 49, 86)
}
footer p{

    color: white;
}
footer h4{
    color: white;
}
p{
    font-size: small;
}
*{
    margin: auto;
    padding: 0%;
}
article{
    text-align: center;
    margin-top: 10rem;

}
article img{

    width: 45rem;
    height: 35rem; 
}
nav{
     
     height: 5rem;
     background-color: #003156
     
}
label{
    color: white;
}
