.desplegableOculto{
    display: none;

}
#desplegable{

    text-align: center;
    display: block;
 
 }

#enlaces{

    margin-bottom: 10rem;
}
#cabecera{

    background-color: rgb(252, 252, 252);
    height: 12rem;
    text-align: center;
}
header img{

    margin-top: 3rem;
}
#login{
    margin-top: 15rem;
    display: inline-block;
    margin-left: 5rem;
    
}
#usuario{
    margin-top: 2rem;
    margin-left: 2rem;
    display: inline-block;

}
#contraseña{

    display: inline-block;
}
footer{

    width: auto;
    height: 10rem;

}
#contacto{
    margin-left: 5rem;
    display: inline-block;
    height: 5rem;
    margin-top: 1rem;
}
#descripcion{

    display: inline-block;
    height: 5rem;
    margin-left: 10rem;
    margin-top: 2rem;
}
footer{
    width: auto;
    height: auto;
    text-align: center;
     margin-top: 20rem;
     background-color: rgb(0, 49, 86)
}
footer p{

    color: white;
}
footer h4{
    color: white;
}
p{
    font-size: small;
}
*{
    margin: auto;
    padding: 0%;
}
article{
    text-align: center;
    margin-top: 10rem;

}
article img{

    width: 35rem;
    height: 25rem; 
}
nav {
    background-color: #003156;
    padding: 10px; 
    box-sizing: border-box; 
    width: 100%;
}
label{
    color: white;
}
#desplegable > label,
#desplegable > select,
#desplegable > #usuario,
#desplegable > #contraseña,
#desplegable > button {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 1rem;        
    padding: 5px 10px;     
    width: auto;            
}


@media (max-width: 600px) {
    
    #menuOculto {
        width: 100%;         
        font-size: 1rem;     
    }

    
    #desplegable > label,
    #desplegable > select,
    #desplegable > #usuario,
    #desplegable > #contraseña,
    #desplegable > button {
        font-size: 1rem;     
        padding: 5px 10px;  
        width: 100%;        
        box-sizing: border-box; 
    }

    #usuario input,
    #contraseña input {
        font-size: 1rem;    
        padding: 10px;      
        width: 100%;        
    }
}

article {
    text-align: center;
    margin-top: 10rem;
}

article div img {
    width: 30rem;      
    height: 35rem;     
    max-width: 100%;   
    height: auto;      
}
article div p{

    color: black

}


@media (max-width: 600px) {
    article img {
        width: 100%;    
        height: auto;   
    }
}
div p{

    font-size: large;
}
@media (max-width: 600px) {
    footer {
        text-align: left;     
        padding: 20px;        
    }

    #contacto, #descripcion {
        display: block;        
        margin: 10px 0;        
        width: 100%;           
    }

    footer p, footer h4 {
        font-size: 14px;      
    }
}
@media (max-width: 600px) {
    #usuario input,
    #contraseña input {
        width: 90%; 
        height: 80%;
        padding: 12px; 
        font-size: 1.1rem; 
        
    }

    
    #usuario, #contraseña {
        margin: 10px 0; 
        width: 100%; 
        
    }
}
body{

    background-image: url(../Imagenes/imagenDeFondo2.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

